[Desktop Entry]
Type=Application
Name=lxappearance
Comment[es]=Personaliza la apariencia y el comportamiento del escritorio y las aplicaciones
Keywords=windows;preferences;settings;theme;style;appearance;
Keywords[es]=ventanas;preferencias;configuraciones;tema;estilo;apariencia;
Icon=preferences-desktop-theme
Exec=lxappearance
NotShowIn=GNOME;KDE;XFCE;MATE;
StartupNotify=true
Categories=GTK;Settings;DesktopSettings;X-LXDE-Settings;
