# Para Abrir Terminal Dentro De Una Carpeta
[Desktop Entry]
Tooltip=abrir Terminal
Type=Action
Name= termi
Icon=utilities-terminal
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=inode/directory;
#Exec=xterm -e "cd %f; zsh"
#Exec=ghostty -e "cd %f; zsh"
Exec=wezterm start --cwd %f

