[Desktop Entry]
Type=Action
Tooltip=Cambiar Wallpaper
Name=walls
Icon=/usr/share/icons/hicolor/16x16/apps/iconwall.png
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=image/*;
Exec=feh --bg-scale --no-fehbg %f
Name=Default profile
SelectionCount==1
