/* Estilo Transparente*/

* {
	border: none;
    font-family: "JetbrainsMono Nerd Font";
	font-size: 14px;
	font-weight: bold;
    min-height: 10px;
	/*background: #161320;*/
}
window#waybar {
    background: transparent;
    transition-property: background-color;
    transition-duration: 0.3s;
    margin-left: 0px;
    margin-right: 0px;
}
window#waybar.hidden {
	opacity: 0.2;
}
window#waybar.empty #window {
    padding: 0px;
    margin: 0px;
    border: 0px;
    color: transparent;
    background-color: transparent;
}
#window {
	color: #161320;
	background: transparent;
    transition: none;
}
#workspaces {
    margin: 6px 6px;  
	border-radius: 18px;
	background: transparent;
	/*background: #222330;*/
	transition: none;
    padding-left: 12px;
    padding-right: 6px;
}
#pulseaudio {
    font-size: 14px;
    font-weight: bold;
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 6px;
	border-radius: 18px;
	transition: none;
	color: #dc7fff;
	background: #262626;
}
@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}
#clock {
    font-size: 14px;
    font-weight: bold;
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
    margin-right: 0px;
	margin-bottom: 6px;
	border-radius: 18px;
	transition: none;
	color: #161320;
	/*color: #F1F1F1;*/
	background: #ABE9B3;
	/*background: #222330;*/
}
#memory {
    margin: 6px 0px 6px 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 18px;
    font-size: 14px;
    font-weight: bold;
	transition: none;
	color: #BE9B3A;
	background: #222330;
}
#cpu {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 6px;
	padding-right: 10px;
	border-radius: 18px;
    font-size: 14px;
    font-weight: bold;
	transition: none;
	color: #ABE9B3;
	background: #222330;
}
#temperature {
	color: #B5E8E0;
	background: #161320;
    transition: none;
}
#tray {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #B5E8E0;
	background: #161320;
}
#custom-special.module {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 6px;
	border-radius: 18px;
    font-size: 14px;
    font-weight: bold;
	transition: none;
	color: #fffb4e;
	/*background: #222330;*/
}
#custom-power {
    font-size: 17px;
    font-weight: bold;
	margin-top: 6px;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 6px;
	padding-left: 3px;
	padding-right: 5px;
	border-radius: 18px;
	transition: none;
	/*background: transparent;*/
	background: #F28FAD;
}
#custom-updates {
    margin: 6px 0px 6px 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 18px;
    font-size: 14px;
    font-weight: bold;
	transition: none;
	color: #f7768e;
	background: #322032;
}
