[Desktop Entry]
Type=Action
Tooltip=abrir Terminal
Name=termi
Profiles=profile-one;
Icon=utilities-terminal


[X-Action-Profile profile-one]
MimeTypes=inode/directory;
Exec=kitty %f
Name=Default profile
